<section class="burger--container">
    <div class="burger--buttons">      
        <a href="/" class="burger--back">Back</a>
        <a href="/info" class="burger--info">Info</a>  
    </div>
    <div class="burger--hero">
        <p>The Ultimate Burger Hunt</p>
    </div>
    <div class="burger--view">
        <button class="view--all">ALL</button>
        <button></button>
        <button></button>
    </div>
</section>