<section class="burger--container" >
    <div class="burger--buttons" data-controller="back">      
        <a href="/" class="burger--back" data-action="click->back#goBackBurger">Back</a>
        <a href="/info" class="burger--info">Info</a>  
    </div>

    <div class="burger--hero">
        <p>The Ultimate Burger Hunt</p>  
    </div>

    <div class="burger--load" data-controller="burger">
        <div class="burger--view">
            <button data-action="click->burger#sortBurgers" data-burger-target="allButton" class="view--all">ALL</button>
            <button data-action="click->burger#sortBurgersByRating" data-burger-target="bestToWorstButton" class="view--best">BEST TO WORST</button>
            <button data-action="click->burger#filterBurgersUnder15" data-burger-target="under15Button" class="view--under">UNDER $15</button>
        </div>
        <div class="burger--menu" data-burger-target="create">
            <div id="burger--load"></div>      
        </div>
    </div>

    <div class="burger--journal">
        <hr class="burger--hr">
        <p class="burger--text">a visual journal in pursuit of finding the perfect burger</p>
    </div>
</section>