<section class="burger--container" >
    <div class="burger--buttons">      
        <a href="/" class="burger--back">Back</a>
        <a href="/info" class="burger--info">Info</a>  
    </div>

    <div class="burger--hero">
        <p>The Ultimate Burger Hunt</p>
    </div>

    <div class="burger--load" data-controller="burger">
        <div class="burger--view">
            <button class="view--all">ALL</button>
            <button class="view--best">BEST TO WORST</button>
            <button class="view--under">UNDER $15</button>
        </div>
        <section class="burger--menu"  data-burger-target="create">
            <div id="burger--load"></div>      
        </section>
    </div>
    <div class="burger--journal">
        <hr class="burger--hr">
        <p class="burger--text">a visual journal in pursuit of finding the perfect burger</p>
    </div>
</section>