<%# data-action="click->play#resetGame" %>

<nav class="dropdown" data-controller="navbar_controller" >
    <button data-action="click->navbar#toggleDropdown" class="dropbtn" id="dropbtn">MI PUEBLO NATAL</button>
    <div id="myDropdown" class="dropdown-content">
        <ul>
            <li class="blue-bullet"><a href="#section1" data-action="click->navbar#handleDropdownItemClick">MI PUEBLO NATAL</a></li>
            <li class="yellow-bullet"><a href="#section2" data-action="click->navbar#handleDropdownItemClick">TALES OF COLOMBIA</a></li>
            <li class="yellow-bullet"><a href="#section3" data-action="click->navbar#handleDropdownItemClick">BURGER HUNT </a></li>
            <li class="yellow-bullet"><a href="#section4" data-action="click->navbar#handleDropdownItemClick">N.Y STATE OF MIND</a></li>
            <li class="yellow-bullet"><a href="#section5" data-action="click->navbar#handleDropdownItemClick">NEW PAVEMENTS</a></li>
            <li class="yellow-bullet"><a href="#section6" data-action="click->navbar#handleDropdownItemClick">DO ALIENS EXIST</a></li>
            <li class="yellow-bullet"><a href="#section7" data-action="click->navbar#handleDropdownItemClick">MÉXICO LINDO</a></li>
            <li class="yellow-bullet"><a href="#section8" data-action="click->navbar#handleDropdownItemClick">LOOKING FORWARD</a></li>
            <li class="yellow-bullet"><a href="#section9" data-action="click->navbar#handleDropdownItemClick">LATEST BEAT</a></li>
        </ul>
    </div>
</nav>

<section id="section1" class="colombia">
    <img src="/assets/colombia.png" alt="" class="colombia--image">
</section>

<section id="section2" class="boris">
    <img src="/assets/Boris.svg" alt="" class="boris--image">
</section>

<section class="plane">
    <img src="/assets/plane.png" alt="" class="plane--image">
</section>

<section class="burger">
    <img src="/assets/burger.png" alt="" class="burger--image">
</section>

<section class="nyc">
    <img src="/assets/nyc.png" alt="" class="nyc--image">
</section>

<section class="bike">
    <img src="/assets/bike.png" alt="" class="bike--image">
</section>

<section class="earth">
    <img src="/assets/earth.png" alt="" class="earth--image">
</section>

<section class="mexico">
    <img src="/assets/mexico.png" alt="" class="mexico--image">
</section>

<section class="agave">
    <img src="/assets/agave.png" alt="" class="agave--image">
</section>

<section class="beats">
    <img src="/assets/beats.png" alt="" class="beats--image">
</section>