<div class="home">
    <nav class="dropdown" data-controller="navbar">
    <button class="dropbtn" id="dropbtn" data-action="click->navbar#getImage">MI PUEBLO NATAL</button>
    <div id="myDropdown" class="dropdown-content">
        <ul>
            <li class="blue-bullet"><a href="#section1">MI PUEBLO NATAL</a></li>
            <li class="yellow-bullet"><a href="#section2">TALES OF COLOMBIA</a></li>
            <li class="brown-bullet"><a href="#section3">BURGER HUNT </a></li>
            <li class="beige-bullet"><a href="#section4">N.Y STATE OF MIND</a></li>
            <li class="grey-bullet"><a href="#section5">NEW PAVEMENTS</a></li>
            <li class="navy-bullet"><a href="#section6">DO ALIENS EXIST</a></li>
            <li class="pink-bullet"><a href="#section7">MÉXICO LINDO</a></li>
            <li class="purple-bullet"><a href="#section8">LOOKING FORWARD</a></li>
            <li class="red-bullet"><a href="#section9">LATEST BEAT</a></li>
        </ul>
    </div>
        <a class="info--link" href="/info">Info</a>
    </nav>

    <section id="section1" class="colombia" data-controller="navbar" data-action="click->navbar#newImage">
        <img src="/assets/colombia.png" alt="" class="colombia--image">
    </section>

    <section  class="boris">
        <img src="/assets/Boris.svg" alt="" class="boris--image">
    </section>

    <section id="section2" class="plane">
        <img src="/assets/plane.png" alt="" class="plane--image">
    </section>

    <section id="section3" class="burger">
        <img src="/assets/burger.png" alt="" class="burger--image">
    </section>

    <section id="section4" class="nyc">
        <img src="/assets/nyc.png" alt="" class="nyc--image">
    </section>

    <section id="section5" class="bike">
        <img src="/assets/bike.png" alt="" class="bike--image">
    </section>

    <section id="section6" class="earth">
        <img src="/assets/earth.png" alt="" class="earth--image">
    </section>

    <section id="section7" class="mexico">
        <img src="/assets/mexico.png" alt="" class="mexico--image">
    </section>

    <section id="section8" class="agave">
        <img src="/assets/agave.png" alt="" class="agave--image">
    </section>

    <section id="section9" class="beats">
        <img src="/assets/beats.png" alt="" class="beats--image">
    </section>
</div>