<div class="home">
    <nav class="dropdown" data-controller="navbar">
        <button class="dropbtn" id="dropbtn" data-action="click->navbar#toggleDropdown">MI PUEBLO NATAL</button>
        <div id="myDropdown" class="dropdown-content">
            <ul>
                <li style="list-style-image: url('assets/blue.svg');"><a href="#section1" data-action="click->navbar#scrollToSection" data-section-id="section1">MI PUEBLO NATAL</a></li>
                <li style="list-style-image: url('assets/green.svg');"><a href="#section2" data-action="click->navbar#scrollToSection" data-section-id="section2">TALES OF COLOMBIA</a></li>
                <li style="list-style-image: url('assets/brown.svg');"><a href="#section3" data-action="click->navbar#scrollToSection" data-section-id="section3">BURGER HUNT </a></li>
                <li style="list-style-image: url('assets/beige.svg');"><a href="#section4" data-action="click->navbar#scrollToSection" data-section-id="section4">N.Y STATE OF MIND</a></li>
                <li style="list-style-image: url('assets/grey.svg');"><a href="#section5" data-action="click->navbar#scrollToSection" data-section-id="section5">NEW PAVEMENTS</a></li>
                <li style="list-style-image: url('assets/navy.svg');"><a href="#section6" data-action="click->navbar#scrollToSection" data-section-id="section6">DO ALIENS EXIST</a></li>
                <li style="list-style-image: url('assets/pink.svg');"><a href="#section7" data-action="click->navbar#scrollToSection" data-section-id="section7">MÉXICO LINDO</a></li>
                <li style="list-style-image: url('assets/purple.svg');"><a href="#section8" data-action="click->navbar#scrollToSection" data-section-id="section8">LOOKING FORWARD</a></li>
                <li style="list-style-image: url('assets/red.svg');"><a href="#section9" data-action="click->navbar#scrollToSection" data-section-id="section9">LATEST BEAT</a></li>
            </ul>
        </div>
        <a class="info--link" href="/info">Info</a>
    </nav>

    <section id="section1" data-target="navbar.section" class="colombia">
        <img src="/assets/colombia.png" alt="" class="colombia--image">
        <%# <%= image_tag("vectors/blue_vector.svg", alt: "blue image", id: "svg", class: "colombia-blue") %>
        <%# <%= image_tag("colombia.png", alt: "image of colombia", width: 421, height: 525, id: "png", class: "colombia-blue2") %> %>
    </section>

    <section class="boris">
        <img src="/assets/Boris.svg" alt="" class="boris--image">
    </section>

    <section id="section2" data-target="navbar.section"  class="plane">
        <img src="/assets/plane.png" alt="" class="plane--image">
    </section>

    <section id="section3" data-target="navbar.section" class="burger">
        <img src="/assets/burger.png" alt="" class="burger--image">
    </section>

    <section id="section4" data-target="navbar.section" class="nyc">
        <img src="/assets/nyc.png" alt="" class="nyc--image">
    </section>

    <section id="section5" data-target="navbar.section" class="bike">
        <img src="/assets/bike.png" alt="" class="bike--image">
    </section>

    <section id="section6" data-target="navbar.section" class="earth">
        <img src="/assets/earth.png" alt="" class="earth--image">
    </section>

    <section id="section7" data-target="navbar.section" class="mexico">
        <img src="/assets/mexico.png" alt="" class="mexico--image">
    </section>

    <section id="section8" data-target="navbar.section" class="agave">
        <img src="/assets/agave.png" alt="" class="agave--image">
    </section>

    <section id="section9" data-target="navbar.section" class="beats">
        <img src="/assets/beats.png" alt="" class="beats--image">
    </section>
</div>