<div class="info--container">
    <section class="back--section">
        <a href="/" class="back">Back</a>  
    </section>
    
    <div class="info--desktop">
        <section class="info--me">
            <p>Boris, he/him/el.</p>
            <p>Self taught web developer.</p>
            <p>Available for work.</p> 
        </section>

        <section class="info--buttons">
            <a class="boris--btn" href="mailto:hi@boriscodes.com" target="_blank">hi@boriscodes.com</a>
            <a class="github--btn" href="https://github.com/refineriap" target="_blank">github</a>
            <a class="linkedin--btn" href="https://www.linkedin.com/in/boris-moreno-95724b251/" target="_blank">linkedin</a>
        </section>
    </div>
    <hr class="info--hr">

    <section class="info--description">
        <p class="">After spending 15+ years working as a driver. I'm pursuing a new career in web development.</p>
    </section>

    <section class="info--skills">
        <p class="skills">Skills</p>
        <ul class="info--languages">
            <li>REACT</li>
            <li>RUBY/RAILS</li>
            <li>JAVASCRIPT</li>
            <li>HTML5</li>
            <li>CSS/SCSS</li>
            <li>GIT</li>
        </ul>
    </section>

    <section class="info--boris">
        <%= image_tag("blackboris.svg", alt: "black Boris svg", class: "info-boris-img") %>
    </section>
</div>