<div class="info--container">
    <section class="back--section">
        <a href="/" class="back">Back</a>
    </section>

    <section class="info--me">
        <p>Boris, he/him/el.</p>
        <p>Self taught web developer.</p>
        <p>Available for work.</p> 
    </section>

    <section class="info--buttons">
        <button class="boris--btn">hi@boriscodes.com</button>
        <button class="github--btn">github</button>
        <button class="linkedin--btn">linkedin</button>
    </section>
    <hr>

    <section class="info--description">
        <p class="">After spending 15+ years working as a driver. I'm pursuing a new career in web development.</p>
    </section>
</div>