    <div class="poll--container">
        <section class="poll--buttons">
            <a href="/" class="poll--back">Back</a>
            <a href="/info" class="poll--info">Info</a>
        </section>

        <section class="poll--vote">
            <img class="poll--vector" src="/assets/poll-vector.svg" alt="">
            <p class="poll--title">Do Aliens Exist?</p>
            <div class="poll--select">
                <button class="obviously">OBVIOUSLY</button>
                <button class="hell--no">HELL NO</button>
                <button class="undecided">UNDECIDED</button>

                <div class="poll--obviously">87% AGREED</div>
                <div class="poll--hell--no">ARE YOU SURE?</div>
                <div class="poll--link">
                    <p class="">WHY?</p>
                    <img src="/assets/arrow.svg" alt="" class="hover-image">
                </div>
            </div>
        </section>

        <section class="boris--poll">
            <%= image_tag("/assets/Boris.svg", alt: "Boris svg", class: "boris--image") %>
        </section>
    </div>  