    <div class="poll--container">
        <section class="poll--buttons">
            <a href="/" class="poll--back">Back</a>
            <a href="/info" class="poll--info">Info</a>
        </section>

        <section class="poll--vote" >
            <img class="poll--vector" src="/assets/poll-vector.svg" alt="">
            <p class="poll--title">Do Aliens Exist?</p>
            <div class="poll--select" data-controller="poll">
                <button class="obviously" data-action="click->poll#vote" data-poll-target="button">OBVIOUSLY</button>
                <button class="hell--no" data-action="click->poll#voteHellNo" data-poll-target="button">HELL NO</button>
                <button class="undecided" data-action="click->poll#undecidedMessage" data-poll-target="button">UNDECIDED</button>

                
                <div class="poll--obviously" data-poll-target="result"></div>
                <div class="poll--hell--no" data-poll-target="hellNoMessage">ARE YOU SURE?</div>
                <div class="poll--link" data-poll-target="unDecided" >
                    <p class="">WHY?</p>
                    <a href="https://www.instagram.com/lilmayo/" target="_blank" src="/assets/arrow.svg" class="hover-image"></a>
                </div>                  
            </div>
        </section>

        <section class="boris--poll">
            <%= image_tag("/assets/Boris.svg", alt: "Boris svg", class: "boris--image") %>
        </section>
    </div> 


    


             