<section class="poll--container">
    <div class="poll--buttons">
        <a href="/" class="poll--back">Back</a>
        <a href="/info" class="poll--info">Info</a>
    </div>
    <div class="poll--image">
        <img src="/assets/max-bohme-2DYmvQ_gvS8-unsplash.jpg" alt="" class="">
    </div>
</section>