/* background: #0D0E0F; */
/* font-family: "avenue_mono"; */
/* font-family: "PPEditorialNew-Ultralight"; */
/* font-family: "PPNeueMontreal-Regular"; */

.burger--container {
    background-color: #0D0E0F;
}

.burger--buttons {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    padding: 0px 30px;
}

.burger--back {
    background-color: #0D0E0F;
    border: #EEECE3 1px solid;
    padding: 15px;
    width: 71px;
    height: 50px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.45px;
}

.burger--info {
    width: 71px;
    height: 50px;
    padding: 17px 24px;
    margin-top: 30px;
    background-color: #F6F3B2;
    border: none;
    color: #0D0E0F;
    text-align: center;
    text-decoration: none;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.3px;
    border-radius: 30px;
}

.burger--hero {
    width: auto;
    padding: 0px 30px;
    margin-top: 20px;
}

.burger--paragraph {
    width: 185px;
    height: 136px;
    color: #EEECE3;
    font-family: "avenue_mono";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 113.333% */
    letter-spacing: 0.6px;
}

/*****************************************************/

.burger--load {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px 30px 90px 30px;
}

.burger--view {
    width: 315px;
    height: 84px;
    display: flex;
}

.view--all {
    width: 44px;
    height: 30px;
    background-color: #FFF;
    color: #0D0E0F;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    display: inline-flex;
    padding: 7px 10px;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 24px;
    border-radius: 30px;
    border: 1px solid #EEECE3;
}

.view--best {
    width: 127px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #EEECE3;
    margin: 24px 10px 0px 10px;
    background-color: #0D0E0F;
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.view--under {
    width: 91px;
    height: 30px;
    background-color: #0D0E0F;
    margin-top: 24px;
    border-radius: 30px;
    border: 1px solid #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.burger--menu {
    width: 315px;
    display: flex;
    flex-wrap: wrap;
}

.burger--item {
    width: 153px;
    height: 196px;
    background-color: #1E1E1E;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 4.5px;
}  

.burger--item:nth-child(2n) {
    margin-right:4.5px; 
}

.burger-rating {
    width: 30px;
    height: 30px;
    background-color: #CAFA6D;
    font-family: "PPNeueMontreal-Regular";
    margin: 10px 10px 0px 113px;
    padding: 9px 6px;
    border-radius: 20px;
    color: #0D0E0F;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; 
}

.burger-location {
    color: #EEECE3;
    padding-left: 7px;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 115px;
}

.burger-name {
    color: #EEECE3;
    padding-left: 7px;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.burger-country {
    color: #EEECE3;
    padding-left: 7px;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.burger-price {
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

/*************************************************/

.burger--journal {
    background-color: #0D0E0F;
    padding: 0px 30px;
    width: auto;
    height: 91px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.burger--hr {
    margin-top: 20px;
    border: 1px solid #EEECE3;
    width: 315px;
    margin-left: 0px;
}

.burger--text {
    margin-top: 12px;
    width: 269px;
    height: 36px;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}


/****************************************************/

@media screen and (min-width: 1024px) {

    .burger--container {
        width: auto;
        height: 100vh;
    }

    .burger--buttons {
        padding: 0px 60px;
        justify-content: space-between;
    }

    .burger--hero {
        width: 338px;
        height: 272px;
        margin: 30px 0px 0px 60px;
        font-family: "avenue_mono";
        color: #EEECE3;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 68px; /* 113.333% */
    }

    .burger--view {
        margin: 48px 0px 0px 60px;
    }

    .burger--menu {
        width: 730px;
        margin-left: 661px;
        margin-top: -405px;
        max-height: 600px; /* Set the maximum height for the menu */
        overflow-y: auto;
    }

    .burger--load {
        width: 0;
        height: 0;
        padding: 0;
    }

    .burger--item {
        width: 232px;
        height: 297.2px;
        gap: 7px;
        margin: 0px 10px 10px 0px;

    }

    .burger-rating {
        margin: 10px 10px 0px 190px; 
    }

    .burger-location {
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 140% */
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 204px 0px 0px 20px;
    }

    .burger-name {
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 140% */
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 20px;
    }

    .burger-country {
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 140% */
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 20px;
    }

    .burger-price {
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 140% */
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .burger--item:nth-child(2n) {
        margin: 0px 10px 10px 0px;
    }

    .burger--journal {
        width: 500px;
        height: 140px;
        margin-left: 60px; 
    }

    .burger--hr {
        width: 411px;
    }

    .burger--text {
        margin-top: 20px;
        width: 243px;
        height: 43px;
    }


}