/* background: #0D0E0F; */
/* font-family: "avenue_mono"; */
/* font-family: "PPEditorialNew-Ultralight"; */
/* font-family: "PPNeueMontreal-Regular"; */

.burger--container {
    background-color: #0D0E0F;
    width: 375px;
    height: fit-content;
}

.burger--buttons {
    display: flex;
    width: 315px;
    height: 100px;
}

.burger--back {
    background-color: #0D0E0F;
    border: #EEECE3 1px solid;
    padding: 15px;
    width: 71px;
    height: 50px;
    display: inline-block;
    margin: 30px 0px 30px 0px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.45px;
}

.burger--info {
    width: 71px;
    height: 50px;
    padding: 17px 24px;
    margin: 30px 0px 0px 172px;
    background-color: #F6F3B2;
    border: none;
    color: #0D0E0F;
    text-align: center;
    text-decoration: none;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.3px;
    border-radius: 30px;
}

.burger--hero {
    width: 185px;
    height: 136px;
}

.burger--hero p {
    color: #EEECE3;
    margin-top: 20px;
    font-family: "avenue_mono";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 113.333% */
    letter-spacing: 0.6px;
}

/*****************************************************/

.burger--load {
    width: 315px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 0px 90px 0px;   
}

.burger--view {
    width: 315px;
    height: 84px;
    display: flex;
}

.view--all {
    width: 44px;
    height: 30px;
    background-color: #FFF;
    color: #0D0E0F;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    display: inline-flex;
    padding: 7px 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 24px;
    border-radius: 30px;
    border: 1px solid #EEECE3;
}

.view--best {
    width: 127px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #EEECE3;
    margin: 24px 10px 0px 10px;
    background-color: #0D0E0F;
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.view--under {
    width: 91px;
    height: 30px;
    background-color: #0D0E0F;
    margin-top: 24px;
    border-radius: 30px;
    border: 1px solid #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.burger--menu {
    width: 375px;
    /* height: fit-content; */
}
.burger--item {
    width: 153px;
    height: 196px;
    background-color: #1E1E1E;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 4.5px;
}

.burger--item:nth-child(2n) {
    margin-right:4.5px; 
}

.burger-rating {
    width: 30px;
    height: 30px;
    background-color: #CAFA6D;
    font-family: "PPNeueMontreal-Regular";
    margin: 10px 10px 0px 113px;
    padding: 9px 6px;
    border-radius: 20px;
    color: #0D0E0F;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; 
}

.burger-location {
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 106px;
}
.burger-name {
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.burger-country {
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.burger-price {
    color: #EEECE3;
    text-align: center;
    font-family: "PPNeueMontreal-Regular";
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 125% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

/*************************************************/

.burger--journal {
    background-color: #0D0E0F;
    width: 315px;
    height: 91px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.burger--hr {
    position: absolute;
    top: 20px;
    left: 0;
    border: 1px solid #EEECE3;
    width: 315px;
    margin-left: 0px;
}

.burger--text {
    position: absolute;
    top: 32px;
    width: 269px;
    height: 36px;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}


