.colombia {
    position: relative;
    margin-top: 40px;
    width: 375px;  
    height: 393px;
}

.colombia-overlay {
    position: absolute;
    margin-left: 30px; 
    top: 0;
    left: 0;
    width: 316px;
    height: 394px;
    background-color: #0D0E0F;
    opacity: 0; 
    transition: opacity 0.35s;
}

.colombia-paragraph {
    margin-top: 30px;
    width: 259px;
    height: 392px;
    color: #EEECE3;
    font-family: "PPEditorialNew-Ultralight";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 40px; 
    letter-spacing: 0.6px;
}

/* .hidden {
    display: none;
    transition: ease;
} */

/* .arrow {
    position: absolute;
    bottom: 10px;
    left: 40px;
    opacity: 0;
}

.arrow:hover {
    opacity: 1;
} */

.artist {
    margin-top: 40px;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.boris {
    position: fixed;
    bottom: 30px;
    width: 375px;
    height: 93px;
    z-index: 3;
}

.boris--image {
    margin: 0;
    width: 315px;
    height: 93px;
}

.plane {
    cursor: pointer;
    position: relative;
    margin-top: 300px;  
    width: 296px;
    height: 293px;
    margin-left: 80px;
}

.hover-image {
    position: absolute;
    bottom: 10px; 
    left: 40px;  
    width: 30px;
    height: 30px;
    /* background-image: url("<%= asset_url('arrow.svg') %>");      */
}

.beats {  
    position: relative;
    margin-top: 300px;  
    width: 260px;
    height: 200px;
}

.beats--image {
    width: 200px;
    height: 200px;
}

.listen {
    position: absolute;
    top: 140px;
    left: 40px;
    width: 86px;  
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #F6F3B2;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 200% */
    letter-spacing: 0.3px;
    color: #0D0E0F;
    padding: 8px;
    letter-spacing: 0.5px;
}

.nyc {
    position: relative;
    margin-top: 300px;  
    width: 375px;
    height: 393px;
}

.nyc-overlay {
    position: absolute;
    margin-left: 30px;
    top: 0;
    left: 0;
    width: 316px;
    height: 394px;
    background-color: #0D0E0F;
    opacity: 0;
    transition: opacity 0.35s;
}

.nyc-paragraph {
    margin-top: 30px;
    width: 314px;
    height: 393px;
    color: #EEECE3;
    font-family: "PPEditorialNew-Ultralight";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 40px; 
    letter-spacing: 0.6px;
}

.artist2 {
    margin-top: 40px;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.bike {
    cursor: pointer;
    position: relative;
    margin-top: 300px;  
    width: 295px;
    height: 293px;
}

.earth {
    position: relative;
    margin-top: 300px;  
    width: 261px;
    height: 200px;
    margin-left: 115px;
}


.mexico {
    position: relative;
    margin-top: 300px;  
    width: 375px;
    height: 393px;
}

.mexico-overlay {
    position: absolute;
    margin-left: 30px;
    top: 0;
    left: 0;
    width: 316px;
    height: 394px;
    background-color: #0D0E0F;
    opacity: 0;
    transition: opacity 0.35s;
}

.mexico-paragraph {
    margin-top: 30px;
    width: 299px;
    height: 393px;
    color: #EEECE3;
    font-family: "PPEditorialNew-Ultralight";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 40px; 
    letter-spacing: 0.6px;
}

.artist3 {
    margin-top: 40px;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.agave {
    position: relative;
    margin-top: 300px;  
    margin-left: 80px;
    width: 296px;
    height: 292.79px;
}

.burger {
    width: 260px;
    height: 526px;
    margin-top: 300px; 
}

/*********************************************/

@media screen and (min-width: 1024px) {
    .colombia {
        width: auto;
        margin-left: 563px;
    }

    .colombia-overlay {
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.35s;
    }

    .colombia-overlay:hover {
        cursor: pointer;
        transition: opacity 0.35s;
        opacity: 1;
    }

    .colombia-paragraph {
        position: fixed;
        top: 150px;
        width: 460px;
        height: 205px;
        margin-left: -64px;
        pointer-events: none;
    }

    .col-p-1 {
        padding-left: 40px;
    }

    .col-p-3 {
        padding-left: 5px;
    }

    .artist {
        padding-left: 172px;
    }

    .arrow {
        cursor: pointer;
        bottom: 10px;
        left: 10px;
    }

    .hidden {
        display: none;
    }

    .boris {
        position: fixed;
        bottom: 60px;
        left: 60px;
        width: 399px;
        height: 118px;
        margin-top: 70px;
    }

    .boris--image {
        width: 399px;
        height: 118px;
    }

    .plane {
        position: relative;
        width: 250px;
        height: 311.53px;
        margin-left: 1046px;
    }

    .hover-image {
        position: absolute;
        bottom: 10px; 
        left: 10px;  
        width: 30px;
        height: 30px;
        background-image: url("/assets/arrow.svg"); 
        opacity: 0;
        transition: opacity 0.50s;
    }

    .plane:hover .hover-image {
        opacity: 1; 
    }

    .plane--svg {
        width: 250px;
        height: 311.53px;  
    }

    .plane--image {
        width: 250px;  
        height: 311.53px;
    }

    .beats {
        width: 231px;
        height: 231px;
        margin-left: 311px;
    }

    .beats--image {
        width: 231px;
        height: 231px;  
    }

    .beats--svg {
        width: 231px;
        height: 231px;
    }

    .listen {
        top: 171px;
        left: 10px;
        width: 86px;
        height: 50px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.50s;
    }

    .beats:hover .listen {
        opacity: 1; 
    }

    .nyc {
        margin-left: 814px;
    }
    
    .nyc-overlay {
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.35s;
    }

    .nyc-overlay:hover {
        cursor: pointer;
        transition: opacity 0.35s;
        opacity: 1;
    }

    .nyc-paragraph {
        position: fixed;
        top: 150px;
        width: 600px;
        height: 205px;
        margin-left: -380px;
        pointer-events: none;
    }

    .nyc-p-1 {
        padding-left: 30px;
    }

    .nyc-p-2 {
        padding-left: 50px;
    }

    .artist2 {
        padding-left: 280px;
    }

    .bike {
        position: relative;
        width: 250px;
        height: 311.53px;
        margin-left: 144px;
    }

    .bike:hover .hover-image {
        opacity: 1; 
    }

    .bike--image {  
        width: 250px;
        height: 311.53px;
    }

    .bike--svg {
        width: 250px;
        height: 311.53px;
    }

    .earth {
        width: 231px;
        height: 231px;
        margin-left: 1149px;
    }

    .earth--image {
        width: 231px;
        height: 231px;
    }

    .earth--svg {
        width: 231px;
        height: 231px;
    }

    .mexico {
        margin-left: 479px;
    }

    .mexico-overlay {
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.35s;
    }

    .mexico-overlay:hover {
        cursor: pointer;
        transition: opacity 0.35s;
        opacity: 1;
    }

    .mexico-paragraph {
        position: fixed;
        top: 150px;
        width: 580px;
        height: 164px;
        margin-left: -30px;
        pointer-events: none;
    }

    .mexico-p-1 {
        padding-left: 46px;
    }

    .artist3 {
        padding-left: 202px;
    }


    .agave {
        position: relative;
        width: 250px;
        height: 311.48px;
        margin-left: 961px;
    }

    .agave:hover .hover-image {
        opacity: 1; 
    }

    .agave--image {
        width: 250px;
        height: 311.48px;
    }

    .agave--svg {
        width: 250px;
        height: 311.48px;
    }

    .burger {
        width: 231px;
        height: 526px;
        margin-left: 228px;
        padding-bottom: 295px;
    }

    .burger--image {
        width: 231px;
        height: 231px;
    }

    .burger--svg {
        width: 231px;
        height: 231px;
    }
}

@media screen and (min-width: 375px) {
    .colombia {
        width: auto;
        margin-left: 563px;
    }

    .colombia-overlay {
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.35s;
    }

    .colombia-overlay:hover {
        cursor: pointer;
        transition: opacity 0.35s;
        opacity: 1;
    }

    .colombia-paragraph {
        position: fixed;
        top: 150px;
        width: 460px;
        height: 205px;
        margin-left: -64px;
        pointer-events: none;
    }

    .col-p-1 {
        padding-left: 40px;
    }

    .col-p-3 {
        padding-left: 5px;
    }

    .artist {
        padding-left: 172px;
    }

    .arrow {
        cursor: pointer;
        bottom: 10px;
        left: 10px;
    }

    .hidden {
        display: none;
    }

    .boris {
        position: fixed;
        bottom: 60px;
        left: 60px;
        width: 399px;
        height: 118px;
        margin-top: 70px;
    }

    .boris--image {
        width: 399px;
        height: 118px;
    }

    .plane {
        position: relative;
        width: 250px;
        height: 311.53px;
        margin-left: 1046px;
    }

    .hover-image {
        position: absolute;
        bottom: 10px; 
        left: 10px;  
        width: 30px;
        height: 30px;
        background-image: url("/assets/arrow.svg"); 
        opacity: 0;
        transition: opacity 0.50s;
    }

    .plane:hover .hover-image {
        opacity: 1; 
    }

    .plane--svg {
        width: 250px;
        height: 311.53px;  
    }

    .plane--image {
        width: 250px;  
        height: 311.53px;
    }

    .beats {
        width: 231px;
        height: 231px;
        margin-left: 311px;
    }

    .beats--image {
        width: 231px;
        height: 231px;  
    }

    .beats--svg {
        width: 231px;
        height: 231px;
    }

    .listen {
        top: 171px;
        left: 10px;
        width: 86px;
        height: 50px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.50s;
    }

    .beats:hover .listen {
        opacity: 1; 
    }

    .nyc {
        margin-left: 814px;
    }
    
    .nyc-overlay {
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.35s;
    }

    .nyc-overlay:hover {
        cursor: pointer;
        transition: opacity 0.35s;
        opacity: 1;
    }

    .nyc-paragraph {
        position: fixed;
        top: 150px;
        width: 600px;
        height: 205px;
        margin-left: -380px;
        pointer-events: none;
    }

    .nyc-p-1 {
        padding-left: 30px;
    }

    .nyc-p-2 {
        padding-left: 50px;
    }

    .artist2 {
        padding-left: 280px;
    }

    .bike {
        position: relative;
        width: 250px;
        height: 311.53px;
        margin-left: 144px;
    }

    .bike:hover .hover-image {
        opacity: 1; 
    }

    .bike--image {  
        width: 250px;
        height: 311.53px;
    }

    .bike--svg {
        width: 250px;
        height: 311.53px;
    }

    .earth {
        width: 231px;
        height: 231px;
        margin-left: 1149px;
    }

    .earth--image {
        width: 231px;
        height: 231px;
    }

    .earth--svg {
        width: 231px;
        height: 231px;
    }

    .mexico {
        margin-left: 479px;
    }

    .mexico-overlay {
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.35s;
    }

    .mexico-overlay:hover {
        cursor: pointer;
        transition: opacity 0.35s;
        opacity: 1;
    }

    .mexico-paragraph {
        position: fixed;
        top: 150px;
        width: 580px;
        height: 164px;
        margin-left: -30px;
        pointer-events: none;
    }

    .mexico-p-1 {
        padding-left: 46px;
    }

    .artist3 {
        padding-left: 202px;
    }


    .agave {
        position: relative;
        width: 250px;
        height: 311.48px;
        margin-left: 961px;
    }

    .agave:hover .hover-image {
        opacity: 1; 
    }

    .agave--image {
        width: 250px;
        height: 311.48px;
    }

    .agave--svg {
        width: 250px;
        height: 311.48px;
    }

    .burger {
        width: 231px;
        height: 526px;
        margin-left: 228px;
        padding-bottom: 295px;
    }

    .burger--image {
        width: 231px;
        height: 231px;
    }

    .burger--svg {
        width: 231px;
        height: 231px;
    }
}