.info--container {
    background-color: #F6F3B2;
}

.back--section {    
    width: auto;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    padding: 0px 30px;
}

.back {
    background-color: #0D0E0F;
    padding: 17px;
    width: 67px;
    margin-top: 30px;
    height: 50px;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.45px;
}

.info--me {
    width: auto;
    height: 84px;
    padding: 0px 30px;
}

.info--me p {
    color: #0D0E0F;
    font-family: 'avenue_mono';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 100;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px;
}

.info--buttons {
    display: grid;
    width: auto;
    height: 190px;
    margin: 23px 0px 60px 0px;
    padding: 0px 30px;
    gap: 20px;
}

.boris--btn {
    background-color: #F6F3B2;
    width: 258px;
    height: 50px;
    border: 1px solid;
    border-radius: 30px;
    border-color: #0D0E0F;
    font-family: 'avenue_mono';
    color: #0D0E0F;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    padding: 10px;
}


.github--btn {
    background-color: #F6F3B2;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid; 
    border-color: #0D0E0F;
    font-family: 'avenue_mono';
    color: #0D0E0F;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    padding: 10px;
}


.linkedin--btn {
    background-color: #F6F3B2;
    width: 154px;
    height: 50px;
    border: 1px solid; 
    border-radius: 30px;
    border-color: #0D0E0F;
    font-family: 'avenue_mono';
    color: #0D0E0F;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    padding: 12px;
}

.info--hr {
    margin: 0px 30px;
    border: 0.75px solid #0D0E0F;
}

.info--description {
    width: auto;
    margin-top: 40px;
    padding: 0px 30px;
}

.info-paragraph {
    width: 315px;
    height: 112px;
    color: #0D0E0F;
    font-family: "avenue_mono";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: -0.4px;
}

.info--skills {
    width: auto;
    height: 300px;
    padding: 0px 30px; 
    margin-top: 33px;  
}

.skills {
    color: #0D0E0F;
    width: 315px;
    height: 30px;
    font-family: 'avenue_mono';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.4px;
}

.info--languages {
    width: 315px;
    height: 100px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 22px;
}

.info--languages li {
    text-decoration: none;
    border-bottom: 1px solid #0D0E0F;
    margin-right: 20px;
    color: #0D0E0F;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.info--boris {
    position: fixed;
    width: 375px;
    height: 153px;
    bottom: 0;
    padding: 0px 30px;
    background-color: #F6F3B2;
}

.info-boris-img {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 315px;
    height: 93px;
    
}

/*********************************************/

@media screen and (min-width: 1024px) {
    .info--container {
        width: auto;
        height: 100vh;
    }

    .back--section {
        width: auto;
        height: 100px;
        display: flex;
        justify-content: end;
        padding-right: 60px;
    }

    .info--me {
        margin: 30px 0px 0px 60px;
    }

    .info--desktop {
        display: flex;
        width: auto;
        height: 248px;
    }

    .info--buttons {
        display: flex;
        width: auto;
        margin-left: 126px;
    }

    .info--hr {
        display: none;
    }

    .boris--btn {
        width: 316px;
        height: 230px;
        margin-right: 20px;   
        border-radius: 120px;
        transition: background-color 0.3s;
        padding: 96px 62px;
    }

    .boris--btn:hover {
        background-color: #0D0E0F;
        color: #EEECE3;
    }

    .github--btn {
        width: 231px;
        height: 231px;
        border-radius: 50%;
        padding: 96px 50px;
        margin-right: 20px;
        transition: background-color 0.3s;
    }

    .github--btn:hover {
        background-color: #0D0E0F;
        color: #EEECE3;
    }

    .linkedin--btn {
        width: 231px;
        height: 231px;
        border-radius: 50%;
        padding: 96px 50px;
        margin-right: 20px;
        transition: background-color 0.3s;
    }

    .linkedin--btn:hover {
        background-color: #0D0E0F;
        color: #EEECE3;
    }

    .info--description {
        margin: -103px 0px 0px 60px;
        height: 108px;
    }

    .info--skills {
        width: auto;
        height: 130px;
        margin: 63px 0px 0px 60px;
    }

    .info--languages {
        width: 418px;
        margin: 0px;  
        height: 100px;
        column-gap: 10px;
    }

    .info--boris {
        width: 399px;
        height: 118px;
        position: fixed;
        left: 60px;
        bottom: 60px;
    }

    .info-boris-img {
        width: 399px;
        height: 118px;
        margin: 0px;
    }

}

@media screen and (min-width: 376px) and (max-width: 480px) {
    .back--section {
        padding: 0px 30px;   
    }

    .info--me {
        padding: 0px 30px;
    }

    .info--buttons {
        padding: 0px 30px;
    }

    .info--description {
        padding: 0px 30px;
    }

    .info--skills {
        padding: 0px 30px;
        height: 400px;
    }

    .info--boris {
        height: 203px;
        padding: 0px 30px;
    }
}
