
.dropbtn {
    width: 233px;
    height: 50px;
    margin: 30px 0 0 30px;
    background-color: #1E1E1E;
    border: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
} 


  
  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    font-family: 'PPNeueMontreal-Regular';
    width: 315px;
    height: 467px;
    background-color: #1E1E1E;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 40px;
    padding-top: 29px;
    border-radius: 20px;
  }
  
  /* Style the dropdown links */
  .dropdown-content a {
    color: #EEECE3;
    padding: 0px 15px 30px 15px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  
  ul.custom-bullet {
    list-style-image: url('assets/Ellipse.svg');
  }
  /* Change color on hover */
  /* .dropdown-content a:hover {
    background-color: #ddd;
  } */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the sections */
  .section {
    margin: 50px 0;
  }
  
  /* Additional styles for better visibility */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
/*   
  h2 {
    margin: 0;
  } */
  

