
.dropbtn {
    width: 233px;
    height: 50px;
    margin: 30px 0 0 30px;
    background-color: #1E1E1E;
    border: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-radius: 40px;
} 

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 30px;
  }
  
  /* Style the dropdown links */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the sections */
  .section {
    margin: 50px 0;
  }
  
  /* Additional styles for better visibility */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
/*   
  h2 {
    margin: 0;
  } */
  

