.poll--container {
    background-color: #0D0E0F;
    width: 375px;
    height: fit-content;
}

.poll--buttons {
    display: flex;
    width: 315px;
    height: 100px;
}

.poll--back {
    background-color: #0D0E0F;
    border: #EEECE3 1px solid;
    padding: 15px;
    width: 71px;
    height: 50px;
    display: inline-block;
    margin: 30px 0px 30px 0px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.45px;
}

.poll--info {
    width: 71px;
    height: 50px;
    padding: 17px 24px;
    margin: 30px 0px 0px 172px;
    background-color: #F6F3B2;
    border: none;
    color: #0D0E0F;
    text-align: center;
    text-decoration: none;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.3px;
    border-radius: 30px;
}

.poll--image {
    width: 315px;
    height: 812px;
}

.poll--image img {
    width: 315px;
    height: 810px;
}