.poll--container {
    background-color: #0D0E0F;
}
   
.poll--buttons {  
    display: flex;
    justify-content: space-between;
    width: auto;  
    height: 100px;
    padding: 0px 30px;
}

.poll--back {
    background-color: #0D0E0F;
    border: #EEECE3 1px solid;
    padding: 15px;
    width: 71px;
    height: 50px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.45px;
}

.poll--info {
    width: 71px;
    height: 50px;
    padding: 17px 24px;
    margin-top: 30px;
    background-color: #F6F3B2;
    border: none;
    color: #0D0E0F;
    text-align: center;
    text-decoration: none;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.3px;
    border-radius: 30px;
}

.poll--vote {
    position: relative;
    width: auto;
    height: 393px;
    margin-top: 65px;
    padding: 0px 30px;
}

.poll--vector {
    position: absolute;
    width: 315px;
    height: 393px;
}

.poll--title {
    position: absolute;
    top: 27px;
    left: 81px;
    width: 183px;
    height: 64px;
    color:#EEECE3;
    font-family: 'avenue_mono';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    letter-spacing: 0.6px;  
}

.poll--select {
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    top: 175px;
    left: 81px;
    font-family: 'PPNeueMontreal-Regular';
    
}

.obviously {
    width: 116px;
    height: 50px;
    background-color: #596B51;
    border-radius: 30px;
    border: 1px solid; 
    border-color: #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.hell--no {
    width: 97px;
    height: 50px;
    background-color: #596B51;
    border-radius: 30px;
    border: 1px solid; 
    border-color: #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.undecided {
    width: 116px;
    height: 50px;
    background-color: #596B51;
    border-radius: 30px;
    border: 1px solid; 
    border-color: #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.poll--obviously {
    display: none;
    position: absolute;
    color: #EEECE3;
    top: 3px;
    left: 150px;
    width: 100px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.poll--hell--no {
    display: none;
    position: absolute;
    color: #EEECE3;
    top: 65px;
    left: 130px;
    width: 106px;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.poll--link { 
    position: absolute;
    visibility: hidden;
    align-items: center;
    top: 120px;
    left: 154px; 
    display: flex;
    width: 85px;
    height: 50px;
}

.poll--link--text {
    color: #EEECE3;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.poll--image--arrow {
    margin-left: 10px;
}


.boris--poll {
    position: fixed;
    bottom: 0px;
    width: 375px;
    height: 153px;
    padding: 0px 30px;
}

.boris--poll--image {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 315px;
    height: 93px;
}

.selected {
    background-color: #CAFA6D;
    color: #0D0E0F;
    border: none;
}

.disabled {
    color: rgba(238, 236, 227, 0.50);
    border: 1px solid rgba(238, 236, 227, 0.50);
}



/********************************************/

@media screen and (min-width: 992px) and (max-width: 3200px) {
    .poll--container {
        width: auto;
        height: 100vh;
    }

    .poll--buttons {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 0px 60px;
    }

    .poll--vote {
        background-image: url("pollgreen.svg");
        position: relative;
        padding: 0;
        width: 629px;
        height: 630px;
        margin: 0px 0px 0px 753px;
    }

    .poll--vector {
        display: none;
    }

    .poll--title {
        position: absolute;
        top: 40px;
        left: 63px;
        width: 372px;
        height: 104px;
        color:#EEECE3;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 52px; /* 104% */
    }

    .poll--select {
        position: absolute;
        top: 390px;
        left: 63px;
    }

    .obviously {
        width: 176px;
        height: 50px;
    }

    .hell--no {
        width: 157px;
        height: 50px;
    }

    .undecided {
        width: 178px;
        height: 50px; 
    }

    .poll--obviously {
        margin-left: 256px;
    }

    .poll--hell--no {
        margin-left: 254px;
    }

    .poll--link {
        margin-left: 261px;
    }

    .poll--image--arrow {
        opacity: 1;  
    }


    .boris--poll {
        width: 399px;
        height: 118px;
    }
    
    .boris--poll--image {
        padding: 0;
        position: absolute;
        width: 399px;
        height: 118px;
        left: 60px;
        bottom: 60px;
    }
}

