.poll--container {
    background-color: #0D0E0F;
    width: auto;
    height: fit-content;
}

.poll--buttons {
    display: flex;
    width: auto;  
    height: 100px;
}

.poll--back {
    background-color: #0D0E0F;
    border: #EEECE3 1px solid;
    padding: 15px;
    width: 71px;
    height: 50px;
    display: inline-block;
    margin: 30px 0px 30px 0px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: #EEECE3;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.45px;
}

.poll--info {
    width: 71px;
    height: 50px;
    padding: 17px 24px;
    margin: 30px 0px 0px 172px;
    background-color: #F6F3B2;
    border: none;
    color: #0D0E0F;
    text-align: center;
    text-decoration: none;
    font-family: 'PPNeueMontreal-Regular';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
    letter-spacing: 0.3px;
    border-radius: 30px;
}

.poll--vote {
    position: relative;
    width: 315px;
    height: 393px;
    margin-top: 95px;
}

.poll--vector {
    position: absolute;
    width: 315px;
    height: 393px;
}

.poll--title {
    position: absolute;
    top: 27px;
    left: 81px;
    width: 183px;
    height: 64px;
    color:#EEECE3;
    font-family: 'avenue_mono';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    letter-spacing: 0.6px;
}

.poll--select {
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    top: 175px;
    left: 81px;
    font-family: 'PPNeueMontreal-Regular';
    
}

.obviously {
    width: 116px;
    height: 50px;
    background-color: #596B51;
    border-radius: 30px;
    border: 1px solid; 
    border-color: #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.hell--no {
    width: 116px;
    height: 50px;
    background-color: #596B51;
    border-radius: 30px;
    border: 1px solid; 
    border-color: #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.undecided {
    width: 116px;
    height: 50px;
    background-color: #596B51;
    border-radius: 30px;
    border: 1px solid; 
    border-color: #EEECE3;
    color: #EEECE3;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.boris--poll {
    width: 375px;
    height: 224px;
    padding-top: 101px;
}




/* .obviously:hover {
    background-color: #CAFA6D;
    color: #0D0E0F;
    border: none;
} */