.popup1 {
    width: 375px;  
    position: fixed;
    bottom: -100%;
    left: 0;
    visibility: hidden; 
    background-color: #CAFA6D;
    overflow: hidden;
    opacity: 0; 
    transition: opacity 0.5s ease, visibility 0.5s ease, bottom 1s ease; 
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.popup1.active {
    width: 375px;
    height: 100%;
    z-index: 7;
    opacity: 1; 
    visibility: visible;
    bottom: 0;
}

.popup1--container {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 297px;
    height: 102px;
    font-family: "avenue_mono";
    color: #0D0E0F;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
    letter-spacing: -0.6px;
}

.popup1--paragraph {    
    position: absolute;
    top: 363px;
    left: 30px;
    width: 315px;
    height: 235px;
    color: #0D0E0F;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    letter-spacing: 0.15px;
}

.close1 {
    position: absolute;
    /* top: 628px; */
    left: 30px;
    bottom: 34px;
    width: 86px;
    height: 50px;
    background-color: #0D0E0F;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    text-align: center;
    border-radius: 30px;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 200% */
    letter-spacing: 0.45px;
    cursor: pointer;
    transition: bottom 0.5s ease; 
    padding-top: 9px;
}

/***************************************************************/

.popup2 {
    width: 375px;
    position: fixed;
    bottom: -100%;
    left: 0;
    visibility: hidden; 
    background-color: #A5B5B8;
    overflow: hidden;
    opacity: 0; 
    transition: opacity 0.5s ease, visibility 0.5s ease, bottom 1s ease; 
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.popup2.active {
    width: 375px;
    height: 100%;
    z-index: 7;
    opacity: 1; 
    visibility: visible;
    bottom: 0;
}

.popup2--container {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 227px;
    height: 102px;
    font-family: "avenue_mono";
    color: #0D0E0F;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
    letter-spacing: -0.6px;
}


.popup2--paragraph {    
    position: absolute;
    top: 448px;
    left: 30px;
    width: 307px;
    height: 150px;
    color: #0D0E0F;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.15px;
}

.close2 {
    position: absolute;
    top: 628px;
    left: 30px;
    bottom: 34px;
    width: 86px;
    height: 50px;
    background-color: #0D0E0F;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    text-align: center;
    border-radius: 30px;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: 0.45px;
    cursor: pointer;
    transition: bottom 0.5s ease; 
    padding-top: 9px;
}

/*****************************************************************/

.popup3 {
    position: fixed;
    width: 375px;
    height: 100%;
    left: 0;
    bottom: -100%;
    visibility: hidden; 
    background-color: #E3C4E5;
    overflow: hidden;
    opacity: 0; 
    transition: opacity 0.5s ease, visibility 0.5s ease, bottom 1s ease; /* Adjusted durations and timing functions */
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    z-index: 4;
}

.popup3.active {
    width: 375px;
    height: 100%;
    z-index: 7;
    opacity: 1; 
    visibility: visible;
    bottom: 0;
}

.popup3--container {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 262px;
    height: 108px;
    font-family: "avenue_mono";
    color: #0D0E0F;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
    letter-spacing: -0.6px;
}

.popup3--paragraph {    
    position: absolute;
    top: 423px;
    left: 30px;
    width: 317px;
    height: 175px;
    color: #0D0E0F;
    font-family: "PPNeueMontreal-Regular";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.15px;
}

.close3 {
    position: absolute;
    top: 628px;
    left: 30px;
    bottom: 34px;
    width: 86px;
    height: 50px;
    background-color: #0D0E0F;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    text-align: center;
    border-radius: 30px;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 200% */
    letter-spacing: 0.45px;
    cursor: pointer;
    transition: bottom 0.5s ease; 
    padding-top: 9px;
}


/**********************************************/

@media screen and (min-width: 376px) and (max-width: 991px) {
    .popup1 {
        width: 100%;
    }

    .popup1.active {
        width: 100%;
    }

    .popup1--container {
       top: 50px;
       left: 50px; 
    }

    .popup1--paragraph {
        top: 363px;
        left: 50px;
    }

    .close1 {
        left: 50px;
    }

    .popup2 {
        width: 100%;
    }
    .popup2.active {
        width: 100%;
    }

    .popup2--container {
        top: 50px;
        left: 50px;
    }

    .popup2--paragraph {
        top: 448px;
        left: 50px
    }

    .close2 {
        left: 50px;
    }

    .popup3 {
        width: 100%;
    }
    .popup3.active {
        width: 100%;
    }

    .popup3--container {
        top: 50px;
        left: 50px;
    }

    .popup3--paragraph {
        top: 423px;
        left: 50px;
    }

    .close3 {
        left: 50px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
    .popup1 {
        width: 566px;
        height: 690px; 
        margin-left: 813px;
    }

    .popup1.active {
       width: 566px; 
       height: 88.5%;
       margin-left: 813px;
    }

    .popup1--container {
        top: 60px;
        left: 60px;
    }

    .popup1--paragraph {
        width: 446px;
        height: 174px;
        top: 376px;
        left: 60px;
    }

    .close1 {
        top: 580px;
        left: 60px;
    }

    .popup2 {
        width: 566px;
        height: 690px;
        margin-left: 813px; 
    }

    .popup2.active {
       width: 566px; 
       height: 88.5%;
       margin-left: 813px;
    }

    .popup2--container {
        top: 60px;
        left: 60px;
    }

    .popup2--paragraph {
        width: 446px;
        height: 100px;
        top: 430px;
        left: 60px;
    }

    .close2 {
        top: 580px;
        left: 60px;
    }

    .popup3 {  
        width: 566px;
        height: 690px; 
        margin-left: 813px;
    }

    .popup3.active {
       width: 566px; 
       height: 88.5%;
       margin-left: 813px;
    }

    .popup3--container {
        top: 60px;
        left: 60px;
    }

    .popup3--paragraph {
        width: 446px;
        height: 125px;
        top: 430px;
        left: 60px;
    }


    .close3 {
        top: 580px;
        left: 60px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .popup1 {
        width: 660px;
        height: 690px; 
        margin-left: 1200px;
    }

    .popup1.active {
       width: 660px; 
       height: 90.5%;
       margin-left: 1200px;
    }

    .popup1--container {
        top: 100px;
        left: 100px;
    }

    .popup1--paragraph {
        width: 446px;
        height: 174px;
        top: 516px;
        left: 100px;
    }

    .close1 {
        top: 760px;
        left: 100px;
    }

    .popup2 {
        width: 660px;
        height: 690px;
        margin-left: 1200px; 
    }

    .popup2.active {
       width: 660px; 
       height: 90.5%;
       margin-left: 1200px;
    }

    .popup2--container {
        top: 100px;
        left: 100px;
    }

    .popup2--paragraph {
        width: 446px;
        height: 100px;
        top: 560px;
        left: 100px;
    }

    .close2 {
        top: 760px;
        left: 100px;
    }
    .popup3 {
        width: 660px;
        height: 690px;
        margin-left: 1200px; 
    }

    .popup3.active {
       width: 660px; 
       height: 90.5%;
       margin-left: 1200px;
    }

    .popup3--container {
        top: 100px;
        left: 100px;
    }

    .popup3--paragraph {
        width: 446px;
        height: 100px;
        top: 560px;
        left: 100px;
    }

    .close3 {
        top: 760px;
        left: 100px;
    }
}