@import url("components/navbar.css");


@font-face {
    font-family: "avenue_mono";
    src: url('avenue_mono.woff') format('woff'),
         url('avenue_mono.woff2') format('woff2'),
   
}

@font-face {
    font-family: "PPEditorialNew-Ultralight";
    src: url('PPEditorialNew-Ultralight.woff') format('woff'),
         url('PPEditorialNew-Ultralight.woff2') format('woff2'),
   
}

@font-face {
    font-family: "PPNeueMontreal-Regular";
    src: url('PPNeueMontreal-Regular.woff') format('woff'),
         url('PPNeueMontreal-Regular.woff2') format('woff2'),
   
}

/* background: #0D0E0F; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #0D0E0F;
}

section {
    padding: 0 30px;
    max-width: 375px; 
}

.colombia {
    margin-top: 126px;
}

.colombia--image {
    max-width: 315px;
    max-height: 393px;
}

.boris {
    margin-top: 90px;
}

.boris--image {
    position: fixed;
    bottom: 30px;
    max-width: 315px;
    max-height: 93px;
}

.plane {
    margin-top: 300px;  
}

.plane--image {
    max-width: 235px;
    max-height: 293px;
    margin-left: 81px;
}

.burger {
    margin-top: 300px;  
}

.burger--image {
    max-width: 200px;
    max-height: 200px;
}

.nyc {
    margin-top: 300px;  
}

.nyc--image {
    max-width: 315px;
    max-height: 393px;
}

.bike {
    margin-top: 300px;  
}

.bike--image {
    max-width: 235px;
    max-height: 293px;
}

.earth {
    margin-top: 300px;  
}

.earth--image {
    max-width: 200px;
    max-height: 200px;
    margin-left: 115px;
}

.mexico {
    margin-top: 300px;  
}

.mexico--image {
    max-width: 315px;
    max-height: 393px;
}

.agave {
    margin-top: 300px;  
}

.agave--image {
    max-width: 235px;
    max-height: 292.79px;
    margin-left: 80px;
}

.beats {
    margin-top: 300px;  
}

.beats--image {
    max-width: 195px;
    max-height: 195px;
}

