@import url("components/navbar.css");
@import url("components/home.css");
@import url("components/info.css");
@import url("components/popup.css");
@import url("components/burger.css");
@import url("components/poll.css");

@font-face {
    font-family: "avenue_mono";
    src: url('avenue_mono.woff') format('woff'),
         url('avenue_mono.woff2') format('woff2'),
   
}

@font-face {
    font-family: "PPEditorialNew-Ultralight";
    src: url('PPEditorialNew-Ultralight.woff') format('woff'),
         url('PPEditorialNew-Ultralight.woff2') format('woff2'),
   
}

@font-face {
    font-family: "PPNeueMontreal-Regular";
    src: url('PPNeueMontreal-Regular.woff') format('woff'),
         url('PPNeueMontreal-Regular.woff2') format('woff2'),
   
}

/* background: #0D0E0F; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.home {
    background-color: #0D0E0F;
}

section {
    padding: 0 30px;
}

@media screen and (min-width: 1024px) {
    section {
        padding: 0px;
    }
}

@media screen and (min-width: 375px) {
    section {
        padding: 0px;
    }
}

section #svg {
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease;
}

section #png {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease;
}

.visible {
    opacity: 1;
}

