@import url("components/navbar.css");
@import url("components/info.css");
@import url("components/popup.css");




@font-face {
    font-family: "avenue_mono";
    src: url('avenue_mono.woff') format('woff'),
         url('avenue_mono.woff2') format('woff2'),
   
}

@font-face {
    font-family: "PPEditorialNew-Ultralight";
    src: url('PPEditorialNew-Ultralight.woff') format('woff'),
         url('PPEditorialNew-Ultralight.woff2') format('woff2'),
   
}

@font-face {
    font-family: "PPNeueMontreal-Regular";
    src: url('PPNeueMontreal-Regular.woff') format('woff'),
         url('PPNeueMontreal-Regular.woff2') format('woff2'),
   
}

/* background: #0D0E0F; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.home {
    background-color: #0D0E0F;
}

section {
    padding: 0 30px;
    max-width: 375px; 
}

section #svg {
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease;
}

section #png {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease;
}

.colombia {
    position: relative;
    margin-top: 126px;
    min-width: 315px;
    height: 393px;
    cursor: pointer;
}

.colombia-overlay {
    display: none;
    position: absolute;
    margin-left: 30px;
    top: 0;
    left: 0;
    width: 316px;
    height: 394px;
    background-color: #0D0E0F;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

.colombia-overlay.visible {
    display: block;
    opacity: 1;
}


.colombia-paragraph {
    padding-top: 30px;
    width: 259px;
    height: 392px;
    color: #EEECE3;
    font-family: "PPEditorialNew-Ultralight";
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: 40px; 
    letter-spacing: 0.6px;
    pointer-events: none;
}

.artist {
    margin-top: 40px;
    font-size: 20px;
    color: #EEECE3;
    font-family: "PPNeueMontreal-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.boris {
    margin-top: 90px;
}

.boris--image {
    position: fixed;
    bottom: 30px;
    max-width: 315px;
    max-height: 93px;
    z-index: 3;
}

.plane {
    position: relative;
    margin-top: 300px;  
    min-width: 235px;
    height: 293px;
    margin-left: 80px;
}

.burger {
    position: relative;
    margin-top: 300px;  
    min-width: 200px;
    height: 200px;
}

.nyc {
    position: relative;
    margin-top: 300px;  
    min-width: 315px;
    height: 393px;
}

.bike {
    position: relative;
    margin-top: 300px;  
    min-width: 235px;
    height: 293px;
}

.earth {
    position: relative;
    margin-top: 300px;  
    min-width: 200px;
    height: 200px;
    margin-left: 115px;
}

.mexico {
    position: relative;
    margin-top: 300px;  
    min-width: 315px;
    height: 393px;
}

.agave {
    position: relative;
    margin-top: 300px;  
    margin-left: 80px;
    min-width: 235px;
    height: 292.79px;
}



.beats {
    margin-top: 300px; 
    padding-bottom: 295px; 
}

.beats--image {
    min-width: 200px;
    height: 200px;
}

